[submodule "P01-eth-document-registry/contracts/lib/openzeppelin-contracts"]
	path = P01-eth-document-registry/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "P01-eth-document-registry/contracts/lib/forge-std"]
	path = P01-eth-document-registry/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "P04-escrow/sc/lib/openzeppelin-contracts"]
	path = P04-escrow/sc/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "P04-escrow/sc/lib/forge-std"]
	path = P04-escrow/sc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
